@font-face {
    font-family: Happy Monkey, sans-serif;
  src: url("fonts/HappyMonkey-Regular.ttf") format("truetype");
}

ion-icon {

}


ion-icon {
  color: white;
  width:20px; height:20px
}

#Logo {
      background-color: #A6ECCF;
    }

    .topnav {
  overflow: hidden;
  background-color: #A6ECCF; <!-- Background color of top bar -->
}

.topnav a {
  float: left;
  color: #f2f2f2;  <!-- Top bar text color when not interacted with -->
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #59D8A4 ; <!-- Color of top bar text while hovering -->
  color: black;
}

.topnav a.active {
  background-color: #59D8A4; <!--Color of top bar text while pressed/active -->
  color: white;
}

#about_bilde_section{
  text-align: center;
  width: 15rem;
  height: 8rem;
  margin: 2rem -2rem 0 17rem;
  padding-top: 5rem;
  float:left;

}
#about_skrift_section{
  text-align: center;
  width: 25rem;
  height: 10rem;
  margin: 0rem 17rem 0 0rem;
  padding-top: 2rem;
  float: right;
}

