footer {
  background-color: #3f51b5;
  padding: 20px;
  color: white;
  text-align: center;
  margin-top: auto; /* Push the footer to the bottom of the page */
  @media screen and (max-width: 767px) {
    margin-top: 0; /* Set margin-top to 0 on small screens */
  }

}
.footer-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  justify-content: center;
  gap: 8rem;
}
.footer-contact {
  display: flex;
  justify-content: space-between;
  align-items: flex-center;
  flex-direction: column;

}

.footer-contact {
  margin:0rem;
}

h3 {
  font-size: 18px;
  font-weight: bold;
}

p {
  font-size: 14px;
  margin-bottom: 8px;
}
@media screen and (max-width:787px){
  .footer-container{
    gap: 1rem; 
  }
}