<footer class = "box">
    <section class="footer-container">
        
        <article class="footer-contact">
            <h3>Contact Information</h3>
            <p>Email: admin@petshop.com</p>
            <p>Phone:+31 415 92 653 </p>
            <p>Address: Keiser Wilhelms g. 23, 6003 Ålesund</p>
        </article>
        <article class="fake-site">
            <h3> 
                NTNU project 
            </h3>
            <p>This website is a result of a university group project, <br> performed in the course IDATA2301 Web 
                technologies, at <a href = "https://www.ntnu.no/alesund">NTNU </a>. <br>
                All the information provided here is a result of imagination.<br>
                Any resemblance with real companies or products is a coincidence
            </p>
        </article>

    </section>
</footer>