.about_us_container {

  font-family: Arial, sans-serif;
  line-height: 1.5;
  margin: 1rem; /* Adjust the margin size as needed */
  padding: 0 1rem;
  margin: 0 auto; /* Center the container element horizontally */
  /*max-width: 960px; /* Set a maximum width for the container */
}
h1 {
  font-size: 1.2rem;
  
  margin-bottom: 1.5rem;
}
h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
p {
  font-size: 1rem;
  margin-bottom: 1.3rem;
}

