.sidebar {
    //padding-left: 1rem;
  }

  .sidebar h2 {
    margin-top: 0;
   // text-align: center;
  }

  /* Add a class to the mat-button-toggle-group */
mat-button-toggle-group.column {
  /* Change the flex direction to column */
  flex-direction: column;
}

/* Add some margin to the mat-button-toggle components */
mat-button-toggle {
  margin: 8px 0;
}
mat-sidenav{
  margin-top: 10rem;
}
