.navbar{
    min-height: 30rem;
  
    height: 100vh;
    height: 100%;
    position: fixed;
 
    //margin-left: -2.75rem;
    //margin-bottom: auto;

    z-index: 9999; 
    //width: 10rem;
   // background-color: green;
    position: absolute;
  }
  
  .navbar-ul{
 //   background-color: #3f51b5;
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    flex-direction: column;
    align-items: center;
    margin-bottom: auto;
  }
  
  
  .navbar-header{
    //color: white;
    margin-left: 1rem;
    font-size:160%; 
  }
  
  .navbar-ul mat-checkbox{
    display: flex;
    align-items: center;
    box-shadow: none;
    
  }

/*   .navbar:hover{
    width: 16rem;
  } */

/*  .navbar:hover .link-text{
  display: block;
 } */


  /* .custom-checkbox{
    background-color: yellow;
    border-color: green;
  }
  .custom-checkbox .mat-checkbox-frame {
    border-color: green !important;
  }
  
  .custom-checkbox .mat-checkbox-background {
    background-color: green !important;
  }
  .custom-checkbox ::ng-deep .mat-checkbox-checkmark-path {
    stroke: green !important;
  } */