
<div class="sidebar">
    <h2>Categories</h2> 
    <div [formGroup]="form"> <!-- Angular Material checkboxes -->
        <p><mat-checkbox color="primary" formControlName="winter">winter</mat-checkbox></p>
        <p><mat-checkbox color="primary" formControlName="clothes">Clothes</mat-checkbox></p>
        <p><mat-checkbox color="primary" formControlName="accessories">Accessories</mat-checkbox></p>
        <p><mat-checkbox color="primary" formControlName="indoors">Indoors</mat-checkbox></p>
    </div>
  </div>