mat-card {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
    justify-content: space-between;
    position: relative;
    max-width: 25rem;
    max-height: 40rem;
    overflow: hidden;
  }
  
  //item name and price
  mat-card-header {
    width: 100%;
    margin-bottom: 1rem;
  }
  
  .image-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
  }
  
  .image-container img {
    width: 100%;
    height: auto;
    align-items: flex-start;
  }
  
  button {
    margin-top: 1rem;
  }
  
  //item description
  mat-card-content {
    width: 100%;
    padding: auto;
  }
  

  mat-card-subtitle {
    font-size: 1.8em;
  }

  .viewItem{
    font-weight: 500;
    display: flex;  
    justify-content: space-between;
    list-style: none;
    align-items: center;
    color: white;
    background-color: #3F51B5;
    border-radius: 5px;
    padding: 5px 10px;

    cursor: pointer;
    align-items: center;
    min-height: 2.3rem;
    max-height: 2.5rem;
    min-width: 3rem;
    margin: 1rem;
    //#32408f
  }

