mat-card {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    max-width: 20rem;
  }
  
  //item name and price
  mat-card-header {
    width: 100%;
    margin-bottom: 1rem;
  }
  
  .image-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  
  .image-container img {
    width: 100%;
    height: auto;
  }
  
  button {
    margin-top: 1rem;
  }
  
  //item description
  mat-card-content {
    width: 100%;
    padding: auto;
  }

  mat-card-subtitle {
    font-size: 1.8em;
  }

