<mat-card *ngFor="let item of items" class="m-4 w-50">  <!-- Angular material mat-card -->
    <mat-card-header >
      <mat-card-title-group>
        <mat-card-title>{{item.id}}{{item.name}}</mat-card-title>
        <mat-card-subtitle>{{item.price}}</mat-card-subtitle>
       <img mat-card-sm-image src="{{item.image}}" alt="fant ikke bilde">
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
        {{item.description}}
        <button mat-button (click)="addToShoppingCart(item)">Add</button>
    </mat-card-content>
  </mat-card>
