.user-container {
    background-color: #f2f2f2;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .user-name {
    font-weight: bold;
  }
  
  .user-id {
    color: #3F51B5;
  }
  .container {
    padding: 10px; /* Add padding to create space */
    margin: 10px; /* Add margin to create space */
  }



p { 
    font-size: 50px;
}