<section>
    <h2>Testimonials</h2>

    <section class="grid-container">
        <article class="testimonial">
            <img class="testimonial-image" src="assets/somePictures/skildpadde-med-hatt.png" alt="John's picture">
            <div class="testimonial-content">
            <p>
                1. John, 30: "I was looking for a winter coat for my pup and found the perfect fit at Pet Clothes Plus. The 
                quality of the material is top-notch, and the coat is so warm and cozy. Thanks for making my doggo look 
                so stylish! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias minima quos maiores 
                reiciendis, nemo aut nobis animi non nam, debitis repudiandae eligendi doloribus perspiciatis earum dolores 
                id quisquam corporis labore?"
            </p>
            </div>
        </article>

        <article class="testimonial">
            <img class="testimonial-image" src="assets/somePictures/skildpadde-med-hatt.png" alt="Anna's picture">
            <div class="testimonial-content">
            <p>
                2. Anna, 24: "I got a custom gown made for my cat and it fits like a glove! Pet Clothes Plus has such a 
                great selection and the customer service was super helpful. Highly recommend!"
            </p>
            </div>
        </article>
    
        <article class="testimonial">
            <img class="testimonial-image" src="assets/somePictures/dog-collar.png" alt="Sam's picture">
            <div class="testimonial-content">
            <p>
                3. Sam, 50: "My pup's birthday is coming up and I found the perfect costume at Pet Clothes Plus. Their 
                prices are reasonable, and the items are made with great care. Thanks for making my pup's birthday 
                extra special!"
            </p>
            </div>
        </article>
    </section>
</section>