<h1>Welcome to petshop + !!</h1>

<p>Vi har et stort utvalg av alt du noen gang kunne ha ønsket deg at kjæledyret ditt skal ha.</p>
<p>We have a vast collection of all the items your pet could possibly want, so you don't need to worry about us having it.</p>

<h2>About us (this should call shared about us)</h2>

<div class="grid-container">
  <div class="grid-item">Column 1</div>
  <div class="grid-item">
    <div class="slideshow">
      <div class="slideshow-card" *ngFor="let image of images; let i = index;" [class.active]="i === activeIndex">
        <div class="card" [style.background-image]="'url(' + image.src + ')'">
          <div class="card-details">
            <div class="card-name">{{ image.alt }}</div>
            <div class="card-price">{{ image.price }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<h1>Welcome to petshop + !!</h1>

<p>Vi har et stort utvalg av alt du noen gang kunne ha ønsket at kjæledyret ditt skal ha.</p>
<p>We have a vast collection of all the items your pet could possibly want, so you don't have to worry about us having it.</p>

<h2>About us (this should call shared about us)</h2>

<div class="slideshow">
  <div class="slideshow-card" *ngFor="let image of images; let i = index;" [class.active]="i === activeIndex">
    <div class="card" [style.background-image]="'url(' + image.src +  ')'" >
      <div class="card-details">
        <div class="card-name">{{ image.alt }}</div>
        <div class="card-price">$ {{ image.price }}</div>
      </div>
    </div>
    </div>
  </div>