
<section class="shopping-cart">
  <div class="header-container">
    <h1 class="header-1">Shopping Cart</h1>
    <h2 class="header-2">Did you find what you were looking for?</h2>
  </div>

  <section class="content-container">
    <article class="left-column content-container-item">

      <!-- Display message when cart is empty -->
      <div *ngIf="cartItems.length === 0">
        Your cart is empty.
      </div>

      <!-- Loop through cart items and display each one -->
      <div class="cart-item-list" *ngFor="let item of cartItems">
        <app-cart-item class="cart-item" [item]="item" (remove)="removeItem(item.id)"
          (updateQuantity)="updateQuantity(item.id, $event)">
        </app-cart-item>
      </div>

    </article>

    <article class="right-column content-container-item">

      <!-- Display total price -->
      <div class="total-price">
        <div class="total-box">
          <span class="total-label">Total:</span>
          <span class="total-amount">{{ cartTotal | currency }}</span>
          <br>
          <span class="delivery-fee-label">+</span>
          <span class="delivery-fee-label">Delivery Fee:</span>
          <span class="delivery-fee-amount">{{ deliveryFee | currency }}</span>
          <hr>
          <span class="total-with-fee-label">Total with Delivery Fee:</span>
          <span class="total-with-fee">{{ (cartTotal + deliveryFee) | currency }}</span>
        </div>
      </div>
      <app-checkout-form></app-checkout-form>
      
    </article>
  </section>
</section>