/* body{
  display: flex;
  flex-direction:column;
  align-items: center;
}
section{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: center;
}
h1{
  text-align: center;
  padding-top: 1.5rem;
}
h2{
  text-align: center;
  font-size: 1.2em;
} */

.shopping-cart {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.header-container {
  text-align: center;
  padding-top: 50px;
}

.header-1 {
  position: absolute;
  margin-left: 45%;
  margin-top: -2.5rem;
  margin-bottom: 10px;
}

.header-2 {
  position: absolute;
  margin-left: 41%;
  margin-top: 0;
  margin-bottom: 10px;
}

.left-column,
.right-column {
  flex-basis: calc(50% - 20px);
  margin-top: 100px;
  /* add more or less margin as needed */
}

.total-price {
  font-weight: bold;
  text-align: right;
}

.checkout-button {
  background-color: 3f51b5;
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-align: center;

}

.shopping-cart {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.header-container {
  text-align: center;
  padding-top: 50px;
}

.total-box {
 // position: static;
  padding: 10px;
  width: 250px;

}

.delivery-fee-label {
  margin-left: 10px;
}

.delivery-fee-amount {
  font-weight: bold;
}

.total-with-fee-label {
  font-weight: bold;
  margin-top: 10px;
}

.total-with-fee {
  font-weight: bold;
}

.cart-items {
  width: 70%;
  position: relative;
}
.cart-item-list {
  margin-bottom: 0rem;
}

@media (max-width: 768px) {
  .shopping-cart {
    display: flex;
    flex-direction: column;
  }

  .left-column {
    order: 2;
  }

  .right-column {
    order: 3;
    margin-left: 4rem;
  }
  .checkout-button{
    margin-left: 3.5rem;
  }
}