
<h1>Shopping Cart</h1>
<h2>Did you find what you were looking for ?</h2>
<section>
<body>
<div *ngIf="cartItems.length === 0">
  Your cart is empty.
</div>

<div *ngFor="let item of cartItems">
  <app-cart-item [item]="item" (remove)="removeItem(item.id)" (updateQuantity)="updateQuantity(item.id, $event)"></app-cart-item>
</div>

<!-- <app-cart-summary [cartTotal]="cartTotal"></app-cart-summary> -->
</body>
<div>
<button mat-raised-button color="primary" routerLink="/checkout" *ngIf="cartItems.length > 0">Proceed to Checkout</button>
</div>
</section>