
<div class="row">
  <div class="col-sm-3 mb-4" *ngFor="let item of items">
    <mat-card class="w-100 h-100">
      <div class="image-container">
        <img mat-card-lg-image src="{{item.image}}" alt="fant ikke bilde">
      </div>
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>{{item.id}}{{item.name}}</mat-card-title>
          <mat-card-subtitle>{{item.price}},-</mat-card-subtitle>
          <button mat-raised-button color="primary" (click)="onDeleteItem(item.id)">Delete</button>
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
        {{item.description}}
      </mat-card-content>
    </mat-card>
  </div>
</div>