<form class="checkout-form">
  <table class="example-full-width" cellspacing="0"><tr>
    <td><mat-form-field class="example-full-width">
      <mat-label>First name</mat-label>
      <input matInput>
    </mat-form-field></td>
    <td><mat-form-field class="example-full-width">
      <mat-label>Last name</mat-label>
      <input matInput>
    </mat-form-field></td>
  </tr></table>

  <p>
    <mat-form-field class="example-full-width">
      <mat-label>Address</mat-label>
      <textarea matInput placeholder="Nedre storgate 5"></textarea>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <textarea matInput placeholder="name.lastname@gmail.com"></textarea>
    </mat-form-field>
  </p>

  <table class="example-full-width" cellspacing="0"><tr>
    <td><mat-form-field class="example-full-width">
      <mat-label>City</mat-label>
      <input matInput placeholder="Ex. Ålesund">
    </mat-form-field></td>
    <td><mat-form-field class="example-full-width">
      <mat-label>Country</mat-label>
      <input matInput placeholder="Ex. Norway">
    </mat-form-field></td>
    <td><mat-form-field class="example-full-width">
      <mat-label>Postal Code</mat-label>
      <input matInput #postalCode maxlength="4" placeholder="Ex. 1234">
      <mat-hint align="end">{{postalCode.value.length}} / 4</mat-hint>
    </mat-form-field></td>
  </tr></table>
  <button mat-raised-button color="primary">Submit</button>
</form>
