.item-container{
    display: flex;
    flex-direction:column;
    align-items: center;
    
}

 .AIB{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
 }

.body {
    margin: 40px;
    padding: 20px;
    
}
.categories {border: 20px;}